--swiftversion 6.3
--exclude .build,Carthage,Pods,DerivedData,**/Generated,**/*.generated.swift
--indent 4
--linebreaks lf
--maxwidth 120
--self remove
--patternlet inline
--trimwhitespace always
--stripunusedargs closure-only
--header ignore
--commas inline
--semicolons never
--ranges no-space
--decimalgrouping 3,6
--hexgrouping 4,8
--binarygrouping 4,8
--octalgrouping 4,8
--ifdef no-indent
--xcodeindentation enabled
--disable redundantFileprivate,wrapArguments
